$dark-green: #56924B;
$main-green: #77AA43;
$medium-green: #B5E187;
$light-green: #EEF4E8;
$extra-light-green: #f3f7ef;

$dark-blue: #155072;
$main-blue: #076b9c;
$medium-blue: #5FBBFF;
$light-blue: #E6F1F9;
$extra-light-blue: #F4F9FC;

$dark-orange: #FF533F;
$main-orange: #F58423;
$medium-orange: #FACB1A;
$light-orange: #FDF1E2;

$purple: #4054de;
$light-purple: #eff1ff;
$light-pink: #F5D9EC;

$text-grey: #312F2E;
$dark-grey: #979290;
$light-grey: #DEDEDE;
$blue-grey: #9FABBC;
$dark-white: #FAFAFA;
$white: #FFFFFF;