.header- {
    &container {
        background-color: $white;
        padding: 10px 20px;
        
        @media screen and (min-width: $min-break-s) {
            padding: 20px 60px;
        }
    }

    &logo-wrapper {
        display: inline-block;
        width: 150px;
        
        @media screen and (min-width: $min-break-s) {
            width: 200px;
        }

        img {
            display: block;
            max-width: 100%;
        }
    }
}