body {
    color: $text-grey;
    font-family: Helvetica, sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

.content-container {
    background-color: $dark-white;
}

.content-wrapper {
    @include content-width;
}