button.btn {
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .3s;

    &:focus, &:hover {
        outline: none;
    }

    &-primary {
        &-blue {
            background: $main-blue;
            color: $white;

            &:focus, &:hover {
                background: $dark-blue;
            }
        }
        &-green {
            background: $main-green;
            color: $white;

            &:focus, &:hover {
                background: $dark-green;
            }
        }
    }

    &-secondary {
        &-green {
            background: transparent;
            border: 2px $main-green solid;
            color: $main-green;

            &:focus, &:hover {
                border-color: $dark-green;
                color: $dark-green;
            }
        }
    }
}